In [4]:
# Importando pacotes
import pandas as pd
import numpy as np

In [3]:
# Contruindo base de dados
data = {'aluno':['A','B','C','D','E','F'],
        'nota':[10,5,7,8,7,3]}
data = pd.DataFrame(data)
data

  aluno  nota
0     A    10
1     B     5
2     C     7
3     D     8
4     E     7
5     F     3

In [5]:
# Criando variável usando uma condição, a parir de uma variável existente
data['status'] = np.where(data['nota']>=7,'APROVADO','REPROVADO')
data

  aluno  nota     status
0     A    10   APROVADO
1     B     5  REPROVADO
2     C     7   APROVADO
3     D     8   APROVADO
4     E     7   APROVADO
5     F     3  REPROVADO