In [1]:
# Importando pacotes
import pandas as pd

In [2]:
# Criando Data Frame
dic = {'valor':[34.5,32.3,35.6,37.0,31.2],
       'sexo':['M','F','M','M','F'],
       'estado':['RJ','SP','SP','SP','RJ']}
data = pd.DataFrame(dic)
data

   valor sexo estado
0   34.5    M     RJ
1   32.3    F     SP
2   35.6    M     SP
3   37.0    M     SP
4   31.2    F     RJ

In [3]:
# Lista das variáveis categóricas
cat_vars = ['sexo','estado']

In [4]:
# Transformando variáveis categóricas em binárias (Dummies)
for var in cat_vars:
    cat_list = 'var'+'_'+var
    cat_list = pd.get_dummies(data[var], prefix = var)
    data2 = data.join(cat_list)
    data = data2

In [5]:
# Lista das variáveis categóricas
cat_vars = ['sexo','estado']

In [6]:
# Criando lista das variáveis, sem as variáveis categóricas
data_vars=data.columns.values.tolist()
to_keep=[i for i in data_vars if i not in cat_vars]

In [7]:
# Excluindo variáveis categóricas da base, deixando apenas sua respectiva Dummie
data_final=data[to_keep]
data_final.columns.values

array(['valor', 'sexo_F', 'sexo_M', 'estado_RJ', 'estado_SP'],
      dtype=object)

In [8]:
# Visualizando a nova base de dados
data_final

   valor  sexo_F  sexo_M  estado_RJ  estado_SP
0   34.5       0       1          1          0
1   32.3       1       0          0          1
2   35.6       0       1          0          1
3   37.0       0       1          0          1
4   31.2       1       0          1          0